@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #13EBFD);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(transparent, #F00FE8);
}

/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */
