.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.hero {
  width: 100vw;
  padding: 0 10rem;
  background-image: url("/images/Obszar roboczy 2.png");
  background-repeat: no-repeat;
  background-color: rgb(74, 4, 213);
  background-size: cover;
  height: 90vh;
}

.heroTitle {
  font-family: "Tw Cen MT";
  font-size: 40px;
  color: white;
  font-weight: 900;
  margin-bottom: 10px;
  line-height: 1;
}

.heroTitle span {
  background-image: linear-gradient(90deg, blue, red);
  padding: 0 3px;
}

.bgGradient {
  background-image: linear-gradient(90deg, #13e9fd4f, #F00FE84f);
  padding: 0 3px;
  background-color: transparent
}

.heroBtn {
  padding: 5px 45px;
  background-image: linear-gradient(90deg, #13EBFD, #F00FE8);
  color: white;
  border-radius: 30px;
  margin-top: 20px;
}

@media only screen and (max-width: 800px){
  .hero {
    padding: 0 4rem
  }
}

@media only screen and (max-width: 600px){
  .hero {
    padding: 0 2rem;
  }
  
  .heroTitle {
    font-size: 25px;
  }
}

.section2 {
  background: #022765;
  background: radial-gradient(circle, #022765 0%, #100B01 93%);
}

.section2Main {
  /* font-size: 1rem; */
  background-color: #370086;
  background: radial-gradient(circle, #370086 0%, #000013 93%);
}

.gradientText {
  /* background-color: #370086; */
  background-image: linear-gradient(90deg, #13EBFD, #F00FE8);
  background-clip: text;
  color: transparent;
}

.tilda {
  font-size: 2rem;
}

.section2Ball {
  background-color: #E6951D;
  background: radial-gradient(circle, rgba(230, 149, 29,.8) 0%, rgba(230, 149, 29,.8) 93%);
  box-shadow: 0 0 30px 20px rgba(230, 149, 29,.7) ;
}